*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Popins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #cacaca;
    color: black;
}

header{
    background-color: #f7ebeb;
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.container{
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
    
.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 5px;
    background-color: white;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    width: 300px;
}

.search-button {
    background-color: #ff8800;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 5px;
}

.search-button:hover {
    background-color: #0056b3;
}

div.logocontainer{
    transform: scale(0.5);
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    float: left;
}
  
nav a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover{
    color: #ff8800;
}

div.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 2rem;
    cursor: pointer;
}

div.img{
    padding-top: 0;
    margin-top: 0;
    width:20px;
    height:412.8px;
    display: flex;
    gap: 0.5rem;
}

div.card:hover{
    color: rgb(196, 4, 62);
}

div.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
    cursor: pointer;
}

.card h2{
    margin-bottom: 10px;
}
  
.card p{
    margin-bottom: 15px;
}
  
.card img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

div.content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

div.product {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-color: #ddd;
    cursor: pointer;
    height: auto;
    transition: 0.3s;
}

div.product div.img1{
    width: 20px;
    height: auto;
    margin-bottom: 10px;
    transform: scale(0.8);
}

a.title-1{
    margin-bottom: 5px;
    color: #000000;
    text-decoration: none;
}

a.title-1:hover{
    color: #ff8800;
    transition: 0.3s;
}

span.currency{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff8800;
}

span.price{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff8800  ;
}

span.discount1{
    font-size: 14px;
    color: #888;
}

div.footer{
    display: flex;
    margin: 0;
    padding: 7rem;
    gap: 2rem;
    justify-content: center;
    background-color: #ddd;
}

div.layanan h3.f-title{
    font-weight: 600;
    color: #121e7d;
}

div.layanan ul.f-list{
    color: #0056b3;
    font-weight: 200;
}

div.download{
    font-weight: 500;
    font-size: 2rem;
}

div.download div.title{
    color: #ff8800;
}

div.download div.text{
    color: #0056b3;
}

div.sosial-icon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.sosial-icon a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}

.sosial-icon a:hover{
    background-color: bisque;
    transition: 0.5s;
}

.sosial-icon a:hover i{
    color: #ff8800;
    transition: 0.5s;
}